.dLoan .control-label { text-align:right; }
.dLoan .dSummary th, .dLoan .dRows th { text-align:center; font-size:12px; white-space:nowrap; padding:5px 0; }
.dLoan .dSummary td, .dLoan .dRows td { text-align:right; font-size:12px; white-space:nowrap; }
.dLoan .dRows th { font-size:11px; }
.dLoan .dRows td { font-size:10px; }