<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=320, user-scalable=no, initial-scale=1, maximum-scale=2, minimum-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" media="all" href="../../../../../externals/bootstrap/src/main/assets/html/res/bootstrap3/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="../../../../../externals/bootstrap/src/main/assets/html/res/common/base.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="../../../../../externals/bootstrap/src/main/assets/html/res/ripplejs/ripple.min.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="../../../../../externals/bootstrap/src/main/assets/html/res/alertify/css/alertify.core.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="../../../../../externals/bootstrap/src/main/assets/html/res/alertify/css/alertify.bootstrap.css"/>

	<link rel="stylesheet" type="text/css" media="all" href="css/base.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="css/history.css"/>
</head>
<body>

<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<div class="dLoanHistory">
	<div class="text-right">
		<button type="button" class="btn btn-danger">모두 삭제</button>
	</div>
	<ul id="cHistory"></ul>
	<script type="text/html" id="pRows">
		<% if (rows.length <= 0) { %>
		<li class="panel panel-danger">
			<div class="panel-heading"><i class="glyphicon glyphicon-star"></i> 안내</div>
			<div class="panel-body">
				계산된 이력이 없습니다.
			</div>
		</li>
		<% } else { var i = 1;
			_.each(rows, function(row) { %>
		<li>
			<div>
				<%= i++ %>.
				<%= $.app.history.typeText(row.type) %>
				<%= $.app.history.getDate(row.date) %>
				<button type="button" class="btn btn-sm btn-primary">상세보기</button>
				<button type="button" class="btn btn-sm btn-danger">삭제</button>
			</div>
			<table class="table table-bordered table-condensed dSummary">
				<thead>
				<tr>
					<th scope="col">대출원금</th>
					<th scope="col">대출기간</th>
					<th scope="col">거치기간</th>
					<th scope="col">대출이율</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td><%= $.app.util.printNumber(row.money) %></td>
					<td><%= row.period %>개월</td>
					<td><%= ((typeof(row.term) != 'undefined') && (row.term > 0)) ? row.term + '개월' : '-' %></td>
					<td><%= row.rate %>%</td>
				</tr>
				</tbody>
				<thead>
				<tr>
					<th scope="col"><%= $.app.history.summaryText(row.type) %></th>
					<th scope="col">총 이자액</th>
					<th scope="col" colspan="2">원금 및 총이자액</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td><%= $.app.util.printNumber(row.loanMonth) %></td>
					<td><%= $.app.util.printNumber(row.loanRateAmt) %></td>
					<td colspan="2"><%= $.app.util.printNumber(row.loanTotalAmt) %></td>
				</tr>
				</tbody>
			</table>
		</li>
		<% }); } %>
	</script>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->

<script src="../../../../../externals/bootstrap/src/main/assets/html/res/jquery/jquery-2.1.3.min.js"></script>
<script src="../../../../../externals/bootstrap/src/main/assets/html/res/bootstrap3/js/bootstrap.min.js"></script>
<script src="../../../../../externals/bootstrap/src/main/assets/html/res/common/base.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="../../../../../externals/bootstrap/src/main/assets/html/res/underscore/underscore-min.js"></script>
<script src="../../../../../externals/bootstrap/src/main/assets/html/res/ripplejs/ripple.min.js"></script>
<script type="text/javascript" src="../../../../../externals/bootstrap/src/main/assets/html/res/alertify/js/alertify.min.js"></script>
<script type="text/javascript" src="../../../../../externals/bootstrap/src/main/assets/html/res/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="../../../../../externals/bootstrap/src/main/assets/html/res/storejs/store.min.js"></script>

<script src="js/base.js"></script>
<script src="js/history.js"></script>
</body>
</html>